 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-image-1 {
  width: 114px;
  height: 227px;
  margin: 106px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 709px;
  line-height: 1.4;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 780px;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  align-self: center;
  margin: 31px auto 53px;
  padding: 10px 64px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 49px;
    margin-left: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -1px;
    margin-left: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 33px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 635px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  font-size: 3rem;
  margin-top: 20px;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-image-1 {
  min-height: 635px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 602px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-bottom: 73px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 379px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 64px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  width: 765px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  width: 765px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  margin: 18px 100px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  font-style: italic;
  width: 765px;
  margin: 20px 188px 39px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 88px;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    width: 720px;
  }

  .u-section-3 .u-text-5 {
    width: 720px;
  }

  .u-section-3 .u-text-7 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-text-5 {
    width: 540px;
  }

  .u-section-3 .u-text-7 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2rem;
  }

  .u-section-3 .u-text-7 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 964px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 764px;
  background-image: url("images/AZP00511.JPG");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 764px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 20px 72px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-4 .u-image-1 {
    min-height: 630px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-image-1 {
    min-height: 483px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .u-section-4 .u-image-1 {
    min-height: 725px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 456px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2316px;
}

.u-section-5 .u-text-1 {
  font-size: 2.1875rem;
  line-height: 1.4;
  width: 709px;
  margin: 57px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 100px 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-5 {
  width: 352px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 2.1875rem;
  line-height: 1.4;
  width: 709px;
  margin: 19px 216px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 30px 100px 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-10 {
  width: 373px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-11 {
  font-size: 2.1875rem;
  line-height: 1.4;
  width: 709px;
  margin: 19px 216px 0;
}

.u-section-5 .u-text-12 {
  font-size: 1.25rem;
  margin: 30px 100px 0;
}

.u-section-5 .u-text-13 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-14 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-15 {
  width: 353px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-16 {
  font-size: 2.1875rem;
  line-height: 1.4;
  width: 709px;
  margin: 20px 216px 0;
}

.u-section-5 .u-text-17 {
  font-size: 1.25rem;
  margin: 30px 100px 0;
}

.u-section-5 .u-text-18 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-19 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-20 {
  width: 360px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-21 {
  font-size: 2.1875rem;
  line-height: 1.4;
  width: 709px;
  margin: 20px 216px 0;
}

.u-section-5 .u-text-22 {
  font-size: 1.25rem;
  margin: 30px 100px 0;
}

.u-section-5 .u-text-23 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-24 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-25 {
  width: 307px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-26 {
  font-size: 2.1875rem;
  line-height: 1.4;
  width: 709px;
  margin: 20px 216px 0;
}

.u-section-5 .u-text-27 {
  font-size: 1.25rem;
  margin: 30px 100px 0;
}

.u-section-5 .u-text-28 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-29 {
  margin: 20px 100px 0;
}

.u-section-5 .u-text-30 {
  width: 357px;
  margin: 20px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 612px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 116px;
    margin-right: 116px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 116px;
    margin-right: 116px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-16 {
    margin-left: 116px;
    margin-right: 116px;
  }

  .u-section-5 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-21 {
    margin-left: 116px;
    margin-right: 116px;
  }

  .u-section-5 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-26 {
    margin-left: 116px;
    margin-right: 116px;
  }

  .u-section-5 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-16 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-21 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-26 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-6 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-16 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-21 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-26 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.34375rem;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-10 {
    width: 340px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-15 {
    width: 340px;
  }

  .u-section-5 .u-text-16 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-20 {
    width: 340px;
  }

  .u-section-5 .u-text-21 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-26 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-text-30 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 903px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  margin: 20px 48px 0;
}

.u-section-6 .u-text-3 {
  margin: 28px auto 0;
}

.u-section-6 .u-list-1 {
  width: 868px;
  margin: 33px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  --gap: 30px;
  min-height: 746px;
  grid-auto-columns: 100%;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin: 0 196px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin: 0 196px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  margin: 0 196px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-10 {
  margin: 0 196px 0 0;
}

.u-section-6 .u-text-11 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: auto;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-text-6 {
    text-transform: none;
    letter-spacing: normal;
  }

  .u-section-6 .u-text-8 {
    text-transform: none;
    letter-spacing: normal;
  }

  .u-section-6 .u-text-10 {
    text-transform: none;
    letter-spacing: normal;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 48px;
    margin-left: 147px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 48px;
    margin-left: 147px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 48px;
    margin-left: 147px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 48px;
    margin-left: 147px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-bottom: 100px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 730px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 3rem;
  margin: 19px 50px 0;
}

.u-section-7 .u-text-3 {
  margin: 28px 100px 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  margin: 60px auto 0 399px;
}

.u-section-7 .u-text-7 {
  margin: 19px 100px 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 100px 59px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-right: auto;
    margin-left: 48px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 329px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-6 {
    margin-left: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-6 {
    margin-left: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 2rem;
    margin-left: 119px;
  }
}